@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/woff/poppins-bold-webfont.woff) format(woff);
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/woff/poppins-bold-webfont.woff) format(woff);
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/woff/poppins-semibold-webfont.woff) format(woff);
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/woff/poppins-medium-webfont.woff) format(woff);
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/woff/poppins-regular-webfont.woff) format(woff);
}
@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/woff/poppins-light-webfont.woff) format(woff);
}
:root {
  --transition: all 300ms ease-in 80ms;
  --color-RGBA03: rgba(255, 255, 255, 0.3);
  --color-DB3C30: #db3c30;
  --color-F44336: #f44336;
  --color-FFFFFF: #ffffff;
  --color-F5F5F5: #f5f5f5;
  --color-201215: #201215;
  --color-535353: #535353;
  --color-000000: #000000;
  --color-222222: #222222;
  --color-747474: #747474;
  --color-e6e6e6: #e6e6e6;
  --color-3A5898-facebook: #3a5898;
  --color-00ACEE-twitter: #00acee;
  --color-3F729B-instagram: #3f729b;
  --color-C72527-pintrest: #c72527;
  --color-0EBA9E-rss: #0eba9e;
  --color-CE3527-youtube: #ce3527;
  --color-DE6463-google-plus: #de6463;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}
.fa {
  --webkit-text-stroke: -1px white;
  padding: 0 5px;
}

/* -------------------Top Bar----------------- */
/* .header {
} */
.header-container {
  background-color: var(--color-F44336);
}
/* .topbar {
}
.nav {
} */
.container {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
.popup-over {
  position: relative;
  margin: 0.5rem 1rem;
  cursor: pointer;
}
.popup-over__title {
  background-color: var(--color-DB3C30);
  color: var(--color-F5F5F5);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-menu {
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 30px;
  visibility: hidden;
  opacity: 0;
  width: 190px;
  background-color: var(--color-FFFFFF);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  text-align: center;
}
.popup-over:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(5px);
  z-index: 999;
}
.dropdown-menu__items {
  list-style-type: none;
}
.dropdown-menu__item {
  padding: 0.5rem;
}
.dropdown-menu__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--color-201215);
}
.dropdown-menu__link:hover {
  font-weight: 900;
}
/* .dropdown-menu__img {
}
.nav {
} */
.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu__item {
  list-style-type: none;
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-F5F5F5);
  font-weight: 100;
}
.menu__link:hover {
  color: var(--color-201215);
}
/* ------------------Header Main-------------------- */
.header-main {
  border-top: 0.1px solid var(--color-RGBA03);
}
/* .header-main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 82px;
  background-color: var(--color-RGBA03);
} */
/* .container {
} */
.header-wrap {
  padding: 2rem 1rem;
  width: 100%;
}
.header-wrap-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}
/* .header-left {
}
.header__logo {
}
.header__link {
}
.header__img {
} */

/* Header Center */
/* .header-center {
}
.search-block-top {
} */
.search-block-top__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-FFFFFF);
}
.search-block-top__input {
  width: 100%;
  background: var(--color-FFFFFF);
  height: 40px;
  line-height: 40px;
  padding: 0 1rem;
  border: 0;
  outline: none;
}
.search-block-top__input::placeholder {
  font-size: 12px;
}
.search-block-top__btn {
  color: var(--color-FFFFFF);
  height: 40px;
  background-color: var(--color-000000);
  border: none;
  padding: 10px;
  cursor: pointer;
}
.search-block-top__item {
  background-color: var(--color-000000);
}
/* Header Right */
/* .header-right {
}
.blockcart_top {
}
.heading {
} */
.heading-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--color-FFFFFF);
}
.heading-link::before {
  content: "";
  width: 1px;
  height: 49px;
  background-color: var(--color-RGBA03);
}
/* .heading__cart {
}
.heading__inner {
} */
.heading__title {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}
.heading__text {
  font-weight: 100;
  font-size: 14px;
}
.heading__cartCost {
  font-weight: 100;
  font-size: 14px;
}
.heading__mony {
  font-weight: 100;
  font-size: 14px;
}

/* ---------------------------Apollo Main Nav------------------- */
/* -----------------Start Categories--------------- */
/* .apolloMainNav {
}
.container {
} */
.apollo-row {
  width: 100%;
  display: flex;
  margin: 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.row-categories {
  width: 25rem;
}
.row-categories__apollo_vertical_menu {
  position: relative;
}
.title-block {
  padding: 0.8rem;
  background-color: var(--color-222222);
  color: var(--color-FFFFFF);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.title-block__text {
  text-transform: uppercase;
}
/* .block-content {
}
.verticalmenu {
}
.navbar {
} */
.navbar__items {
  background-color: var(--color-FFFFFF);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  left: 0;
  top: 40px;
  background-color: var(--color-FFFFFF);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  text-align: center;
  list-style-type: none;
}
.row-categories__apollo_vertical_menu:hover .navbar__items {
  visibility: visible;
  opacity: 1;
  transform: translateY(5px);
  z-index: 999;
}
.navbar__item {
  border-bottom: 1px solid var(--color-e6e6e6);
  padding: 10px;
}
.navbar__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--color-222222);
}
.navbar__pictitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.navbar__link:hover {
  color: var(--color-DB3C30);
}
.navbar__pic {
  padding: 10px;
}
/* .navbar__title {
} */
.navbar-dropdown-menu {
  background-color: var(--color-FFFFFF);
  position: absolute;
  visibility: hidden;
  left: 298px;
  opacity: 0;
  width: 100%;
  background-color: var(--color-FFFFFF);
  box-shadow: 5px 0 16px -10px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  text-align: center;
  list-style-type: none;
  text-align: left;
}
.navbar__item:hover .navbar-dropdown-menu {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transform: translateY(5px);
  z-index: 999;
  height: 100%;
  width: 60%;
  padding-top: 20px;
  bottom: 0;
  left: 384px;
}
/* .navbar-dropdown-menu__row {
} */
.navbar-dropdown-menu__items {
  list-style-type: none;
}
.navbar-dropdown-menu__item {
  padding: 5px 20px;
}
.navbar-dropdown-menu__link {
  text-decoration: none;
  color: var(--color-222222);
}
.navbar-dropdown-menu__link:hover {
  color: var(--color-DB3C30);
}
/* .navbar-dropdown-menu__title {
} */
.navbar-dropdown-toy {
  background-color: var(--color-FFFFFF);
  position: absolute;
  visibility: hidden;
  left: 298px;
  opacity: 0;
  width: 100%;
  background-color: var(--color-FFFFFF);
  box-shadow: 5px 0 16px -10px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  text-align: center;
  list-style-type: none;
  text-align: left;
}
/* .navbar-dropdown-toy__row {
} */
.navbar-dropdown-toy__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.navbar-dropdown-toy__title {
  margin: 15px;
}
.navbar__item:hover .navbar-dropdown-toy {
  position: absolute;
  visibility: visible;
  opacity: 1;
  z-index: 999;
  height: 100%;
  width: 520px;
  padding: 20px;
  top: 0;
  left: 384px;
}
.items__link {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 100px;
  text-decoration: none;
}
.items__img {
  width: 91px;
  height: 100px;
}
.items-content {
  margin: 12px;
}
.items-content__title {
  text-align: center;
  line-height: 20px;
}
.items-content__link {
  text-decoration: none;
  color: var(--color-222222);
}
.items-content__link:hover {
  color: var(--color-DB3C30);
}
/* .items-content__oldPrice {
}
.items-content__money {
  } */
.items-content__Price {
  text-align: center;
  margin: 1rem;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-DB3C30);
}
/* .items-content__money {
    } */
.items {
  margin-top: 1rem;
}
/* .items__item {
} */
.items__title {
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.items__link_b {
  color: var(--color-000000);
  text-decoration: none;
}
.items__link_b:hover {
  color: var(--color-747474);
}
.items-content__links {
  list-style-type: none;
  line-height: 30px;
}
/* .items-content__item {
} */
.items-content__link {
  color: var(--color-747474);
}

/* ------------------------Start Home------------------------ */
.apolloMenu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.apolloMenu:hover .home__link {
  color: var(--color-DB3C30);
}
.home {
  position: relative;
}
.home__link {
  text-decoration: none;
  color: var(--color-000000);
  font-weight: 500;
  text-transform: uppercase;
}
/* .home__link:hover {
  } */
.menu-nav-dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.home:hover .menu-nav-dropdown {
  position: absolute;
  visibility: visible;
  opacity: 1;
  z-index: 999;
  height: 100%;
  width: 260px;
  padding: 20px;
  top: 13px;
  left: -50px;
  transition: var(--transition);
}
.menu-nav-dropdown__items {
  list-style-type: none;
  padding: 1rem;
  white-space: nowrap;
  box-shadow: 1px 1px 3px -2px var(--color-747474);
  background-color: var(--color-FFFFFF);
}
.menu-nav-dorpdown__item {
  padding: 10px;
  margin-bottom: 1rem;
}
.menu-nav-dorpdown__item:last-child {
  margin-bottom: 0;
}
.menu-nav-dropdown__link {
  text-decoration: none;
  color: var(--color-747474);
  transition: var(--transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-nav-dropdown__link:hover {
  color: var(--color-DB3C30);
}
/* ---Start Shop--------Start Pages----------Start Blog-------------- */

.menu-dropdown1 {
  box-shadow: 1px 5px 16px -10px var(--color-747474);
  width: 82rem;
  left: -521px;
  position: absolute;
  top: 42px;
  transition: var(--transition);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 1rem;
  background-color: var(--color-FFFFFF);
}
/* .left__dropdown {
} */
.left__title {
  margin-bottom: 1rem;
}
.title {
  text-decoration: none;
  color: var(--color-747474);
  text-transform: uppercase;
  font-weight: 500;
}
.title:hover {
  color: #db3c30;
}
.left__items {
  list-style-type: none;
}
.left__item {
  padding: 1rem 0;
}
.left__item_link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-747474);
  font-size: 14px;
  font-weight: 100;
}
.left__item_link:hover {
  color: var(--color-DB3C30);
}
/* .middel__dropdown {
}
.right__dropdown {
}
.right__img {
} */

.menu-dropdown2 {
  box-shadow: 1px 5px 16px -10px var(--color-747474);
  width: 82rem;
  left: -633px;
  position: absolute;
  top: 42px;
  transition: var(--transition);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 1rem;
  background-color: var(--color-FFFFFF);
}
.menu-dropdown3 {
  box-shadow: 1px 5px 16px -10px var(--color-747474);
  width: 82rem;
  left: -757px;
  position: absolute;
  top: 42px;
  transition: var(--transition);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 1rem;
  background-color: var(--color-FFFFFF);
}

/* -------------------------Start Theme Features------------------------- */

/* .home__wrapper {
} */
.menu-dropdown__items {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  list-style-type: none;
  box-shadow: 1px 1px 5px -1px #747474;
  transition: var(--transition);
  width: 200px;
  background-color: var(--color-FFFFFF);
}

/* .menu__list {
} */
.menu-dropdown__item {
  padding: 1rem;
}
.menu-dropdown__link {
  text-decoration: none;
  color: var(--color-747474);
  font-size: 14px;
}
.menu-dropdown__item:hover .menu-dropdown__link {
  color: var(--color-DB3C30);
}
.menu-dropdown_hover {
  line-height: 2rem;
}

.menu-dropdown_hover:hover .menu-dropdown__items {
  position: absolute;
  visibility: visible;
  opacity: 1;
  width: 260px;
  padding: 20px;
  top: 40px;
  left: 207px;
}
/* -----------------------------------main--------------------------------- */
/* --------------------Start Slide Show----------------------- */
/* .slideshow {
}
.slider-container {
} */
.slider {
  width: 100%;
  max-height: 575px;
  position: relative;
  margin: 1rem 0;
}
.slide {
  display: none;
}
.active {
  display: block;
}
.slider__img {
  width: 100%;
  height: 575px;
}
/* .caption-fullwidth {
}
.slide-caption {
}
.slide-caption_textfirst {
}
.slide-caption_title {
}
.slide-caption_text {
}
.slide-caption_link {
} */
.prev,
.next {
  font-size: 20px;
  text-decoration: none;
  color: var(--color-000000);
  position: absolute;
  top: 45%;
  font-weight: 700;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
/* ------------------End Slide Show-------------------------- */

/* ----------------------------------footer----------------------------- */

/* ------------------apollo-container------------------ */
/* .footer {
} */
.apollo-container {
  height: 307px;
}
.footer-row {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  width: 584px;
  padding: 0 10px;
}
.footer-left::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 600px;
  background-color: var(--color-747474);
  opacity: 0.2;
}
.footer-left__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  padding: 1.5rem 0;
}
/* .block-content-slide {
} */
.slider {
  position: relative;
}
/* .slider_item {
}
.blog-item {
} */
.fa-pencil {
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 10px;
}
.slider-contents {
  margin-left: 3.5rem;
}
.slider-contents_title {
  margin-bottom: 12px;
}
.slider-contents_link {
  text-decoration: none;
  color: var(--color-222222);
  text-transform: capitalize;
}
.slider-contents_link:hover {
  color: var(--color-DB3C30);
}
.slider-contents_meta {
  margin-bottom: 12px;
  font-size: 14px;
}
.blog_data {
  color: var(--color-747474);
}
/* .slider-contents_comments {
} */
.blog_comments {
  text-decoration: none;
  color: var(--color-747474);
}
.slider-contents__text {
  margin-bottom: 12px;
}
.slider-contents__par {
  color: var(--color-747474);
}
.slider_readmore {
  display: flex;
  align-items: center;
  gap: 10px;
}
.slider_readmore_link {
  text-decoration: none;
  color: var(--color-747474);
}
.slider_readmore_link:hover {
  color: var(--color-DB3C30);
}
.footer-right {
  padding-left: 3.5rem;
}
.footer-right_title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  padding: 1.5rem 0;
}
/* .footer-right_tweets {
} */
.footer-right_link {
  text-decoration: none;
  color: var(--color-222222);
  font-size: 14px;
  cursor: pointer;
}
.footer-right_link:hover {
  color: var(--color-747474);
}

/* -------------------------Footer Container---------------------- */
/* ---------------------footer row Left-------------------- */
/* .footer-container {
} */
.footer-top {
  background: var(--color-222222);
  padding: 15px 0;
  height: 72px;
}
.footer-top-wrap {
  width: 100%;
  height: 42px;
  margin: 0 auto;
}
.footer-row-bottom {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-row-left {
  width: 50%;
}
/* .footer-block {
} */
.footer-block_form {
  height: 42px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-block_sub {
  color: black;
  width: 100px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
}
.footer-block_input {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  color: black;
  outline: none;
  border: none;
  border-left: 1px solid;
}
.input::placeholder {
  color: var(--color-747474);
}
.footer_block_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 42px;
  background-color: var(--color-DB3C30);
  color: var(--color-FFFFFF);
  border: none;
  cursor: pointer;
}

/* footer row right */
/* .footer-row-right {
} */
.social-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  height: 42px;
}
.social-block_title {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: var(--color-e6e6e6);
  padding: 3px 10px 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
.block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}
.block-content_items {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 5px;
  font-size: 18px;
  height: 42px;
}
.social {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link {
  color: var(--color-FFFFFF);
  border: 1px solid var(--color-747474);
  padding: 5px;
  font-size: 20px;
}
.facebook:hover {
  background-color: var(--color-3A5898-facebook);
}
.twitter:hover {
  background-color: var(--color-00ACEE-twitter);
}
.instagram:hover {
  background-color: var(--color-3F729B-instagram);
}
.pinterest:hover {
  background-color: var(--color-C72527-pintrest);
}
.rss:hover {
  background-color: var(--color-0EBA9E-rss);
}
.youtube:hover {
  background-color: var(--color-CE3527-youtube);
}
.google-plus:hover {
  background-color: var(--color-DE6463-google-plus);
}

/* ---------------footer center------------- */
.footer-center {
  max-height: 432px;
}
.footer-center-wrap {
  padding-top: 50px;
}
.footer-center-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-center-quicklink {
  height: 100%;
  height: 198px;
  width: 50%;
}
.footer-center_row {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
.footer-center__lmr {
  width: 198px;
  padding: 0 1rem;
}
.footer-center__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.footer-center_items {
  list-style-type: none;
}
.footer-center__item {
  padding-bottom: 1rem;
}
.footer-center__link {
  text-decoration: none;
  color: var(--color-747474);
  text-transform: capitalize;
}
.footer-center__link:hover {
  color: var(--color-DB3C30);
}
.footer-center-wrapper {
  height: 198px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer-center-about {
  width: 50%;
  padding: 0 8px;
}
.footer-center-aboutus {
  padding: 0 8px;
}
.footer-center__text {
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-747474);
}
/* .footer-center-aboutshop {
} */
.footer-center__imgwrapper {
  margin-bottom: 1rem;
}
.footer-center__img {
  width: 300px;
}
.aboutshop {
  display: flex;
  flex-direction: column;
}
.aboutshop__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.aboutshop__p {
  line-height: 25px;
  color: var(--color-747474);
}
.footer-center-bottom {
  max-height: 184px;
  margin-top: 3rem;
  padding: 1rem 0;
}
/* .ourservice {
} */
.support {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.supportpull {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 2rem;
}
/* .supportpull_item {
}
.supportpull__img {
}
.supportpull_body {
} */
.supportpull__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-535353);
  margin-bottom: 10px;
}
.supportpull__text {
  font-size: 14px;
  line-height: 1.5rem;
  color: var(--color-747474);
}
/* -----------------------------footer nav--------------------------- */
.footer-nav {
  height: 95px;
  padding: 2rem 0;
}
.navRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.powered {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.powered__copyright {
  font-size: 14px;
  font-weight: 100;
  color: var(--color-747474);
}
/* .powered__item {
} */
.powered__link {
  text-decoration: none;
  color: var(--color-000000);
  font-weight: 100;
  font-size: 14px;
}
.paymentFooter {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.paymentFooter__img {
  width: 30rem;
}
